<div class="px-4 mx-auto max-w-screen-xl">
    <div class="mt-10 sm:mt-0 mx-auto">
        <div class="md:grid md:grid-cols-2 md:gap-6">
            <div class="mt-5 md:mt-0 md:col-span-2 lg:pt-8">
                    <div class="shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white text-sky-900 tracking-wide sm:p-6 min-h-max">
                            <h2 class="py-6 self-center text-xl font-semibold">Upload articles for AMTC 2022 Conference</h2>

                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6 sm:col-span-2">
                                    <label for="name" class="block text-sm font-medium">
                                        <span class="text-red-700">Uploading articles for unregistered participants is closed for now, come back later</span>
                                    </label> 
                                </div>
                    </div>
            </div>
        </div>
    </div>
    </div>