<div class="pt-4 pb-8">
    <h2 class="pt-10 self-center text-xl font-semibold">Conference location</h2>
    <p class="pt-4">Admiral Makarov State University of Maritime and Inland Shipping, 15а, Kosaja linija, Saint-Petersburg, Russia</p>
    <p>Карта</p>
    
    <h2 class="pt-10 self-center text-xl font-semibold">About The Admiral Makarov State University of Maritime and Inland Shipping</h2>
    <p class="pt-4">The Admiral Makarov State University of Maritime and Inland Shipping is an industry-based vertically-integrated
    scientific and educational complex. The University incorporates 4 Institutes, College and 8 branches located in
    different regions of Russia. The main university is situated in Saint-Petersburg and includes 7 campuses. The
    development of the Northern Sea Route and polar navigational safety is one of the key research activities at the
    University. The scientific school “Hydrographical support of the Northern Sea Route” is recognized as the leading one.
    Research and analysis of the Northern Sea Route maritime transport system parameters are being carried out on a regular
    basis. One example is quantitative and qualitative analysis of a through voyage practice. A separate problem to be
    solved is the speed mode analysis of high ice-class Arc7 large capacity vessels with deep draught. New researches are
    devoted to the study of changes in vessels speed modes in ice conditions. For this purpose the Earth remote sensing
    data, space footage, own calculation methods developed by the University specialists are being used.</p>
    <img 
    src="/a/images/gumrf-zanevskiy.jpg" 
    alt="he Admiral Makarov State University of Maritime and Inland Shipping"
    class="pt-6">

    <h2 class="pt-10 self-center text-xl font-semibold">Organization Committee</h2>
    <ul class="pt-4">
        <li>Sergey Baryshnikov – Chairman</li>
        <li>Tatyana Pantina – Deputy Chairman</li>
        <li>Alexander Gorobtsov</li>
        <li>Elena Smyaglikova</li>
        <li>Sergey Sokolov</li>
        <li>Roman Kuznetsov</li>
        <li>Sergey Aizinov</li>
        <li>Evgeniy Olkhovik</li>
        <li>Roman Kislov</li>
        <li>Vladislava Kirikova</li>
        <li>Julia Zaostrovskaya</li>
    </ul>
</div>