<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/a/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/a/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/a/favicon/favicon-16x16.png">
    <link rel="manifest" href="/a/favicon/site.webmanifest">
    <link rel="mask-icon" href="/a/favicon/safari-pinned-tab.svg" color="#5bbad5">
  
    <link href="/a/css/tailwind.css" rel="stylesheet">
    <link href="/a/css/app.css" rel="stylesheet">

    <title>{{if .Title}}{{.Title}} - AMTC 2022{{else}}AMTC 2022{{end}}</title>
</head>

<body class="font-sans transition duration-500 bg-white text-sky-900 min-w-min min-h-screen flex flex-col ">

    <nav class="sticky z-50 top-0 backdrop-blur-md shadow-xl bg-base">
        <div class="px-4 mx-auto max-w-7xl flex flex-wrap xl:flex-nowrap justify-center lg:justify-start">
            <div class="h-20 flex flex-row w-full lg:w-auto justify-between lg:mr-8 items-center">
            <a class="self-center lg:px-2 focus:outline-none block whitespace-nowrap text-lg font-medium hover:text-sky-800 hover:font-semibold focus:text-sky-800 text-sky-900"
                href="/">
                <img src="/a/images/amtc-logo.png" class="h-10 w-auto whitespace-nowrap" alt="AMTC 2022" />
            </a>
                <button
                    id="hamburger"
                    type="button"
                    class="lg:hidden text-sky-900 items-center justify-center p-2 hover:text-sky-800 focus:outline-none"
                    aria-controls="menu" 
                    aria-expanded="false"
                >
                    <span class="sr-only">Open main menu</span>
                
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>

                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>

                </button>

                
            </div>


            <ul 
                id="menu"
                class="transform transition-all duration-700 ease-in-out pb-5 lg:pb-0 lg:h-20 grow  w-full flex flex-col lg:justify-between lg:pt-0 lg:items-center lg:flex-row"
            >
                {{range .Links}}
                <li class="flex h-11 border-b border-sky-800 lg:h-auto lg:px-2 lg:border-0">
                    <a class="self-center underlined focus:outline-none block whitespace-nowrap text-lg font-medium hover:text-gray-700 hover:font-semibold focus:text-gray-700 text-sky-900"
                        href="{{.Link}}">
                        {{.Text}}
                    </a>
                </li>
                {{end}}
            </ul>
        </div>
    </nav>

    <main class="flex-1">
        {{embed}}
    </main>

    <footer class="bg-sky-200 mt-auto w-full">
        <div class="px-4 pb-8 lg:px-6 mx-auto max-w-screen-xl">
            <h2 class=" pt-8 self-center text-lg font-semibold">Get in touch through the Conference Office</h2>

            <div class="grid grid-rows-3 md:grid-rows-1 md:grid-cols-3 md:gap-5">
                <div class="">
                    <h2 class="pb-1 pt-6 self-center font-semibold">Conference Office</h2>
                    <p class="itali">Admiral Makarov State University of Maritime and Inland Shipping, Saint-Petersburg, Russia</p>
                </div>

                <div class="">
                    <h2 class="pb-1 pt-6 self-center font-semibold">Address</h2>
                    <p class="itali">5, Zanevsky prospect, St. Petersburg, Russia</p>
                </div>
                
                <div class="">
                    <h2 class="pb-1 pt-6 self-center font-semibold">Address for correspondence</h2>
                    <p class="itali">5/7, Dvinskaya str, St. Petersburg, Russia, 198035</p>
                </div>

            </div>

            <h2 class="pb-1 pt-6 self-center font-semibold">Contact us</h2>
            <p class="">E-mail: <a href="mailto:amtc@gumrf.ru"><span class="underline italic">amtc@gumrf.ru</span></a></p>
            <p class="">Tel.: <a href="tel:+7812-748-96-01"><span class="underline italic">+7 (812) 748-96-01</span></a></p>

        </div>
    </footer>

</body>

<script src="/a/js/menu.js"></script>

</html>