<div class="bg-arctic-sea-5 bg-cover bg-no-repeat bg-center bg-fixed min-h-full">
    <div class="px-4 mx-auto max-w-screen-xl ">
        <div class="py-10 text-white tracking-wide">
            <div class="p-6 rounded-xl backdrop-blur-lg shadow-2xl lg:w-max">
                <h2 class="pt-2 self-center text-xl font-bold">Important dates</h2>
                <div class="py-2 flex flex-row">
                    <div class="">
                        <p class="py-2">Abstract submission</p>
                        <p class="py-2">Full paper submission</p>
                        <p class="py-2">Results of the review process</p>
                        <p class="py-2">Conference</p>
                    </div>
                    <div class="pl-8">
                        <p class="whitespace-nowrap py-2">30.09.2022</p>
                        <p class="whitespace-nowrap py-2">31.10.2022</p>
                        <p class="whitespace-nowrap py-2">15.11.2022</p>
                        <p class="whitespace-nowrap py-2">24-25.11.2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>