<div class="px-4 mx-auto max-w-screen-xl">
<div class="mt-10 sm:mt-0 mx-auto">
    <div class="md:grid md:grid-cols-2 md:gap-6">
        <div class="mt-5 md:mt-0 md:col-span-2 lg:pt-8">
            <form action="/registration-and-submission" method="POST">
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white text-sky-900 tracking-wide sm:p-6 min-h-max">
                        <h2 class="py-6 self-center text-xl font-semibold">Register for AMTC 2022 Conference</h2>
                        
                        {{if .Message.Success}}
                        <div class="p-4 mb-4 text-sm text-green-700 bg-green-300 rounded-lg border border-green-700">
                            {{.Message.Success}}
                            <span class="font-medium">&#9996;</span>
                        </div>
                        {{end}}

                        {{if .Message.Error}}
                        <div class=" p-4 mb-4 text-sm text-red-700 bg-red-300 rounded-lg border border-red-700">
                            <!-- <span class="font-medium">Some fields has errors!</span> -->
                            {{.Message.Error}}
                        </div>
                        {{end}}


                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-2">
                                <label for="name" class="block text-sm font-medium">
                                    Name<span class="text-red-700"> *</span>
                                </label>
                                <input type="text" name="name" id="first-name" value="{{.Values.Name}}" required
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                {{if .Errors.Name}}
                                <div class="mt-4 p-4 mb-4 text-sm text-red-700 bg-red-300 rounded-lg border border-red-700">
                                    <!-- <span class="font-medium">Oops!</span> -->
                                    {{.Errors.Name}}
                                </div>
                                {{end}}
                            </div>

                            <div class="col-span-6 sm:col-span-2">
                                <label for="surname" class="block text-sm font-medium">
                                    Surname<span class="text-red-700"> *</span>
                                </label>
                                <input type="text" name="surname" id="surname" value="{{.Values.Surname}}" required
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                {{if .Errors.Surname}}
                                <div class="mt-4 p-4 mb-4 text-sm text-red-700 bg-red-300 rounded-lg border border-red-700">
                                    <!-- <span class="font-medium">Oops!</span> -->
                                    {{.Errors.Surname}}
                                </div>
                                {{end}}
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="organization" class="block text-sm font-medium">
                                    Organization<span class="text-red-700"> *</span>
                                </label>
                                <input 
                                    type="text"
                                    name="organization"
                                    id="organization"
                                    value="{{.Values.Organization}}" required
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="position" class="block text-sm font-medium">
                                    Position
                                </label>
                                <input 
                                    type="text" 
                                    name="position" 
                                    id="position" 
                                    value="{{.Values.Position}}"
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="phone" class="block text-sm font-medium">
                                    Phone 
                                </label>
                                <input 
                                    type="text" 
                                    name="phone" 
                                    id="phone"
                                    value="{{.Values.Phone}}"
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                {{if .Errors.Phone}}
                                <div class="mt-4 p-4 mb-4 text-sm text-red-700 bg-red-300 rounded-lg border border-red-700">
                                    <!-- <span class="font-medium">Oops!</span> -->
                                    {{.Errors.Phone}}
                                </div>
                                {{end}}
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="email" class="block text-sm font-medium">
                                    E-mail<span class="text-red-700"> *</span>
                                </label>
                                <input 
                                    type="text"
                                    name="email"
                                    id="email"
                                    value="{{.Values.Email}}"
                                    required
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                {{if .Errors.Email}}
                                <div class="mt-4 p-4 mb-4 text-sm text-red-700 bg-red-300 rounded-lg border border-red-700">
                                    <!-- <span class="font-medium">Oops!</span> -->
                                    {{.Errors.Email}}
                                </div>
                                {{end}}
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="presentation-form" class="block text-sm font-medium">
                                    Participation form
                                </label>
                                <select 
                                    id="presentation-form" 
                                    name="presentation-form" 
                                    value="{{.Values.PresentationForm}}" 
                                    required
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm">
                                    <option hidden disabled selected value>-- select --</option>
                                    <option>Speaker</option>
                                    <option>Publication</option>
                                    <option>Listener</option>
                                </select>
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="presentation-section" class="block text-sm font-medium">I am planning to make a presentation/ to publish a paper</label>
                                <select 
                                    id="presentation-section" 
                                    name="presentation-section" 
                                    value="{{.Values.PresentationSection}}"
                                    required
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm">
                                    <option hidden disabled selected value>-- select --</option>
                                    <option>Plenary session</option>
                                    <option>1. Education and professional training for the Arctic shipping industry</option>
                                    <option>2. Arctic shipping: safety, environment, legal regulation</option>
                                    <option>3. Innovative technologies for polar shipping: research & development</option>
                                    <option>4. Development of Sea Ports in the Arctic</option>
                                </select>
                            </div>

                            <div class="col-span-6">
                                <label for="presentation-title" class="block text-sm font-medium">
                                    Title of the presentation
                                </label>
                                <input 
                                    type="text" 
                                    name="presentation-title" 
                                    id="presentation-title"
                                    value="{{.Values.PresentationTitle}}"
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 sm:col-span-4 flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="personal-data" name="personal-data" type="checkbox" required
                                        class="focus:ring-sky-500 h-4 w-4 text-sky-600 border-gray-300 rounded">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="personal-data" class="font-medium">
                                        Personal data<span class="text-red-700"> *</span>
                                    </label>
                                    <p class="text-gray-500">I agree to the processing of my personal data</p>
                                </div>
                            </div>

                            <div class="col-span-6 flex flex-col items-start justify-between min-h-max">
                                <div class="h-captcha w-full h-full" data-sitekey="7ff06ffb-01cc-4e12-a035-e22184c87106">
                                    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
                                </div>
                                {{if .Errors.Captcha}}
                                <div class="mt-4 p-4 mb-4 w-full text-sm text-red-700 bg-red-300 rounded-lg border border-red-700">
                                    <!-- <span class="font-medium">Oops!</span> -->
                                    {{.Errors.Captcha}}
                                </div>
                                {{end}}
                            </div>

                        </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <button type="submit"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-sky-600 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>