<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} | AMTC</title>
    <link href="/a/css/main.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet">

</head>

<body>
    <form action="action_page.php" style="border:1px solid #ccc">
        <div class="container">
          <h1>Registration</h1>
          <p>Please fill in this form to registrate.</p>
          <hr>
      
          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="name" required>

          <label for="surname"><b>Surname</b></label>
          <input type="text" placeholder="Enter Surname" name="surname" required>

          <label for="organization"><b>Organization</b></label>
          <input type="text" placeholder="Enter Organization" name="organization" required>

          <label for="position"><b>Position</b></label>
          <input type="text" placeholder="Enter Position" name="position">

          <label for="phone"><b>Phone</b></label>
          <input type="text" placeholder="Enter Phone" name="phone">

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <label for="type">Participation form</label>
          <select name="type" id="type" required>
            <option value="speaker">Speaker</option>
            <option value="publication">Publication</option>
            <option value="listener">Listener</option>
          </select>

          <label for="planning">I am planning to make a presentation</label>
          <select name="planning" id="planning">
            <option value="plenary_session">Plenamry session</option>
            <option value="section_1">Section 1</option>
            <option value="section_2">Section 2</option>
            <option value="section_3">Section 3</option>
            <option value="section_4">Section 4</option>
            <option value="-">Not planning</option>
          </select>

          <label for="title"><b>Title of presentation</b></label>
          <input type="text" placeholder="Enter Title" name="title">
      
          <label>
            <input type="checkbox" checked="checked" name="accept" style="margin-bottom:15px" required> I consent to the 
            processing of my personal data
          </label>

          <label>
            <input type="checkbox" checked="checked" name="accept" style="margin-bottom:15px" required> I'm not a robot
          </label>
      
          <div class="clearfix">
            <button type="submit" class="reg">Registrate</button>
          </div>
        </div>
      </form>
</body>