<div class="mt-10 sm:mt-0 mx-auto">
    <div class="md:grid md:grid-cols-2 md:gap-6">
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form action="/registration-and-submission" method="POST">
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">

                        {{if .Message}}
                        <div class="mt-4 p-4 mb-4 text-sm text-green-700 bg-green-300 rounded-lg border border-green-700">
                            {{.Message}}
                            <span class="font-medium">&#9996;</span>
                        </div>
                        {{end}}

                        <h2 class="pt-4 pb-10 self-center text-xl font-semibold">Registration AMTC 2022 Conference</h2>

                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="name" class="block text-sm font-medium text-gray-700">
                                    Name<span class="text-red-700"> *</span>
                                </label>
                                <input type="text" name="name" id="first-name" value="{{.FormData.Name}}" required
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                {{if .Error.Name}}
                                <div class="mt-4 p-4 mb-4 text-sm text-red-700 bg-red-300 rounded-lg border border-red-700">
                                    <span class="font-medium">Oops!</span>
                                    {{.Error.Name}}
                                </div>
                                {{end}}
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="surname" class="block text-sm font-medium text-gray-700">
                                    Surname<span class="text-red-700"> *</span>
                                </label>
                                <input type="text" name="surname" id="surname" value="{{.FormData.Surname}}" required
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                {{if .Error.Surname}}
                                <div class="mt-4 p-4 mb-4 text-sm text-red-700 bg-red-300 rounded-lg border border-red-700">
                                    <span class="font-medium">Oops!</span>
                                    {{.Error.Surname}}
                                </div>
                                {{end}}
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="organization" class="block text-sm font-medium text-gray-700">
                                    Organization<span class="text-red-700"> *</span>
                                </label>
                                <input 
                                    type="text"
                                    name="organization"
                                    id="organization"
                                    value="{{.FormData.Organization}}" required
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="position" class="block text-sm font-medium text-gray-700">
                                    Position
                                </label>
                                <input 
                                    type="text" 
                                    name="position" 
                                    id="position" 
                                    value="{{.FormData.Position}}"
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="phone" class="block text-sm font-medium text-gray-700">
                                    Phone 
                                </label>
                                <input 
                                    type="text" 
                                    name="phone" 
                                    id="phone"
                                    value="{{.FormData.Phone}}"
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                {{if .Error.Phone}}
                                <div class="mt-4 p-4 mb-4 text-sm text-red-700 bg-red-300 rounded-lg border border-red-700">
                                    <span class="font-medium">Oops!</span>
                                    {{.Error.Phone}}
                                </div>
                                {{end}}
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="email" class="block text-sm font-medium text-gray-700">
                                    E-mail<span class="text-red-700"> *</span>
                                </label>
                                <input 
                                    type="text"
                                    name="email"
                                    id="email"
                                    value="{{.FormData.Email}}"
                                    required
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                {{if .Error.Email}}
                                <div class="mt-4 p-4 mb-4 text-sm text-red-700 bg-red-300 rounded-lg border border-red-700">
                                    <span class="font-medium">Oops!</span>
                                    {{.Error.Email}}
                                </div>
                                {{end}}
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="presentation-form" class="block text-sm font-medium text-gray-700">
                                    Participation form
                                </label>
                                <select 
                                    id="presentation-form" 
                                    name="presentation-form" 
                                    value="{{.FormData.PresentationForm}}" 
                                    required
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm">
                                    <option>Speaker</option>
                                    <option>Publication</option>
                                    <option>Listener</option>
                                </select>
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="presentation-section" class="block text-sm font-medium text-gray-700">
                                    I am planning to make a presentation
                                </label>
                                <select 
                                    id="presentation-section" 
                                    name="presentation-section" 
                                    value="{{.FormData.PresentationSection}}"
                                    required
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm">
                                    <option>Plenary session</option>
                                    <option>Session 1</option>
                                    <option>Session 2</option>
                                    <option>Session 3</option>
                                    <option>Session 4</option>
                                    <option>Session 5</option>
                                </select>
                            </div>

                            <div class="col-span-6">
                                <label for="presentation-title" class="block text-sm font-medium text-gray-700">
                                    Title of the presentation
                                </label>
                                <input 
                                    type="text" 
                                    name="presentation-title" 
                                    id="presentation-title"
                                    value="{{.FormData.PresentationTitle}}"
                                    class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="comments" name="comments" type="checkbox"
                                        class="focus:ring-sky-500 h-4 w-4 text-sky-600 border-gray-300 rounded">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="comments" class="font-medium text-gray-700">Personal data</label>
                                    <p class="text-gray-500">I consent to the processing of my personal data</p>
                                </div>
                            </div>

                            <div class="col-span-6 flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="comments" name="comments" type="checkbox"
                                        class="focus:ring-sky-500 h-4 w-4 text-sky-600 border-gray-300 rounded">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="comments" class="font-medium text-gray-700">I’m not a robot</label>
                                    <p class="text-gray-500">Captcha</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <button type="submit"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-sky-600 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>