<div class="px-4 mx-auto max-w-screen-xl">
    <div class="mx-auto mt-10">
      <form action="/uploadAbstracts" method="POST" enctype="multipart/form-data">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class=" px-4 pt-5 bg-white text-sky-900 tracking-wide sm:p-6 min-h-max w-full">
  
            <div class="flex flex-row min-w-fit">
              <div class="py-2 pr-8">
                <p class="font-medium">Name</p>
                <p class="text-gray-500">{{.User.Name}}</p>
              </div>
              <div class="py-2">
                <p class="font-medium">Surname</p>
                <p class="text-gray-500">{{.User.Surname}}</p>
              </div>
            </div>
            <div class="py-2">
              <p class="font-medium">Email</p>
              <p class="text-gray-500">{{.User.Email}}</p>
            </div>
  
            <div class="flex flex-col items-start">
              <label for="abstracts" class="pt-2 font-medium">Upload Abstracts</label>
              <div class="py-4 text-sm text-gray-500">
                <input type="file" id="abstracts" name="abstracts" accept="application/pdf, application/msword"
                  class="focus:ring-sky-500 border-gray-300 rounded">
                <p class="pt-2">*The file size is limited to 5 MB. Abstracts are accepted until July 15, 2022.</p>
              </div>
            </div>

          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-sky-600 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Upload</button>
          </div>
        </div>
      </form>
    </div>
  </div>